body {
    background-image: url(/images/pexels-james-frid-81279-1098764.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

header div {
    display: inline-flex;
    width: 100%;
    background-image: url(/images/charcoalbackground.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 0 20px 0;
    justify-content: center;
}

header h1 {
    font-size: 50px;
    margin-left: 5%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header img {
    border-radius: 90%;
    margin-left: -10%;
    box-shadow: 2px 2px 4px black;
}


#navDiv {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    width: 60%;
    font-family: 'Oswald', sans-serif;
}

nav a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

nav a p {
    margin-right: 5px;
}

#footerMainDiv {
    display: inline-flex;
    width: 100%;
    height: 6rem;
    background-color: rgb(22, 22, 22);
}





#landingPageCardBox {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

#landingFeaturedBox {
    width: 60%;
    height: 35rem;

}

#featuredCard {
    display: flex;
    align-items: end;
    justify-content: end;
    background-image: url(/images/charcoalGrilledRibs.webp);
    background-size: cover;
    background-position: center;
    height: 25rem;
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
}

#featuredCard h3{
    color: white;
    font-size: 60px;
    background-color: rgb(31, 31, 31, .7);
}

  
#featuredMoreCardbox {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

#landingBioCard {
    width: 25%;
}

#landingBioCard img {
    border-radius: 80%;
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
}

#landingBioCard p {
    color: white;
    background-color: rgb(0, 0, 0, .6);
    padding: 1rem;
    font-size: 18px;
}

.featuredMoreCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 8rem;
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
}

.featuredMoreCard p {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 38px;
    background-color: rgb(31, 31, 31, .6);
    width: 100%;
}

#featuredMoreOne {
    background-image: url(/images/genericFOOD111.jpg);
    background-size: cover;
    background-position: center;
}

#featuredMoreTwo {
    background-image: url(/images/spices111.jpg);
    background-size: cover;
    background-position: center;
}

#featuredMoreThree {
    background-image: url(/images/genericSauceFood.jpg);
    background-size: cover;
    background-position: center;
}



/* -------------------------- MAINSSS -----------------------------------------------------------------------  */


#mainCardHead {
    display: flex;
    width: 80%;
    margin: auto;
}
#mainCardHead hr {
    width: 40%;
    height: 0;
    margin-top: 6rem;
}

#mainCardHead h2 {
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 5px black;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* ----------------------------   recipes main page    -----------------------------------------------------------*/



#recipesMainButtonBox {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.recButton {
    width: 45%;
    height: 7rem;
    margin: 0 auto 30px auto;
    border: 1px solid black;
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    text-decoration: none;
}

#allRecButton {
    background-image: url(/images/allrecipies.jpg);
    background-position: center;
    background-size: cover;
}

#chickenRecButton {
    background-image: url(/images/chickenbutton.jpg);
    background-position: center;
    background-size: cover;
}

#beefRecButton {
    background-image: url(/images/brisket.jpg);
    background-position: center;
    background-size: cover;
}

.recipeCardBox {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.recipeCard {
    width: 30%;
    background-color: white;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
}

.recipeCard img {
    width: 100%;
    border-bottom: 2px solid black;
}



/* -------------------------------------- INDIVIDUAL RECIPE PAGE ---------------------------------------  */


.recipesMainCard h2 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(255, 255, 255, .7);
    padding: 1rem;
    width: 90%;
    margin: 2rem auto 3rem auto;
}

.indRecipeMainBox {
    display: flex;
    justify-content: space-around;
}

.indRecipeSideCardOne {
    max-width: 55%;
}

.indRecipeSideCardOne iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
}

.instructionDiv {
    background-color: white;
    border-radius: 5%;
    padding: 1rem;
    margin-top: 2rem;
}


.indRecipeSideCardTwo {
    width: 30%;
    text-align: center;
    background-color: white;
    padding-top: 2rem;
    border-radius: 5%;
}

.indRecipeSideCardTwo img {
    display: flex;
    width: 80%;
    margin: auto;
}

.ingredientList {
    width: 40%;
    margin: auto;
}

.indRecipeSideCardTwo ul {
    text-align:start;
}


.extraStuff {
}